{% extends "base.html" %}
{% load user_tags %}
{% load common_tags %}
{% block title %}{{ page_title }}{% endblock %}
{% block head_link %}
{% endblock %}
{% block  main %}
    <div class="list">
        <ol>
        {% for user in users %}
            {% if user|in_list:login_user_friend_list %}
                <li>
                    <div class="userinfo">
                       {% include 'include/userinfo.html'%}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
        </ol>
        <div class="pagebar">
            {{ page_bar|safe }}
        </div>
    </div>
{% endblock %}
