{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% load user_tags %}
{% block title %}{{ page_title }}{% endblock %}
{% block head_link %}
{% if user %}
<link rel="alternate" type="application/rss+xml" title="{{ user.realname }} {% trans ' recent message' %}" href="/user/feed/rss/recent/{{ user.username }}" />
{% else %}
<link rel="alternate" type="application/rss+xml" title="{% trans 'Recent message of eveyone' %}" href="/feed/rss/recent/" />
{% endif %}
{% endblock %}

{% block  main %}

    <div class="list">
       <ol>
            {% for item in notes %}
            <li>
                {% include 'include/list_item.html' %}
            </li>
            {% endfor %}

           <!--控制一页中大小固定 -->
            {% if one_page_num < 4 %}
                {% for i in one_page_num_list %}
                    <li>
                        <div class="userinfo">
                           &nbsp;
                        </div>
                    </li>
                {% endfor %}
            {% endif %}

        </ol>
        <div class="pagebar">
            <!--过滤器safe：禁用转义，告诉模板这个变量是安全的，可以解释执行。-->
            {{ page_bar|safe }}
            <!--{% if user %}-->
                <!--<a href="/user/feed/rss/recent/{{ user.username }}" alt="{% trans 'Subscription' %}">-->
            <!--{% else %}-->
                 <!--<a href="/feed/rss/recent/" alt="{% trans 'Subscription' %}">-->
            <!--{% endif %}-->
           <!--<img src="/static/images/feed.png" style="border:0;margin-bottom:-2px;" alt="feed icon" />-->
           <!--</a>-->
        </div>
    </div>
{% endblock %}
