{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% load user_tags %}

{% block  main %}
<!-- include libraries(jQuery, bootstrap) -->
<link href="/static/js/summernote/bootstrap-4.1.3-dist/css/bootstrap.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/summernote/bootstrap-4.1.3-dist/js/bootstrap.js"></script>

<!-- include summernote css/js -->
<link href="/static/js/summernote/dist/summernote.css" rel="stylesheet">
<script src="/static/js/summernote/dist/summernote.js"></script>

      <script>
        $(document).ready(function() {
            $('#summernote').summernote({
                placeholder: '请开始你的表演...',
                tabsize: 2,
                height: 100
            });
        });
      </script>

    <style>
        #main {
            padding:0px 0px 10px 0px;
        }
        #input_head{
            font-size: 12px;
            width:70%;
            margin:0 0 5px 0px;
            text-align:left;
            color: #494949;
            border-radius: 4px;
            border-top:1px solid #C0C0C0;
            border-left:1px solid #C0C0C0;
            border-bottom:1px solid #C0C0C0;
            border-right:1px solid #C0C0C0;
            background:#fff;
        }
        #input_head_text{
            font-size: 15px;
            color: #494949;
            margin:0 0 0px 5px;
        }
    </style>

<div id="post-message" class="form">
    <form method="post" action="/handle_write_blog/">
        {% csrf_token %}
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td align="left" width="30%">
                    {% if go_back_url != 'http://127.0.0.1:8000/searching_handle/' %}
                        <a href="{{ go_back_url }}" style="font-size:25px; text-decoration: none; color: #1E90FF;"> < </a>
                    {% else %}
                        <a href="{{ go_back_url }}?search_content={{ search_content }}&go_back_url={{ this_url }}" style="font-size:25px; text-decoration: none; color: #1E90FF;"> < </a>
                    {% endif %}
                </td>
                <td align="center" width="33%">
                    <img src="{{ user.face|face16 }}" class="face16"/>
                </td>
                <td align="right" >
                    <button type="submit" class="submit wide" style="color: #1E90FF;"> 提 交 </button>
                </td>
            </tr>
        </table>
        <div class="input">
            <span id="input_head_text">标题：</span><input type="text" id="input_head" placeholder="&nbsp;&nbsp;请先填写文章标题..." name="message_head">
            <textarea id="summernote" name="message"></textarea>
        </div>
        <input type="file" id="imageFileUpload" style="display: none">

    </form>
</div>
{% endblock %}